@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BD GOVT FOOD</h1>
    <p class="lead">Bd goverment food maintsins ..that buye product rom framer snd sell food to buyer so that fsrmer can get good price  </p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Bd goverment food gives you best services
        </p>
       
    </div>
    <div class="col-md-4">
        
        <p>
            NuGet is a free Visual Studio extension
           that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
        </p>
        <p> <img src="~/fonts/grains.jpg" width="600" height="420" style="vertical-align:left"/></p>
      
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            You can easily buye and sell a web hosting company that off
          ers the right mix of features and price for your applications.
        </p>
        
    </div>
</div>